<!-- <div>
	<p>Inside controller 1 </p>

	<div>
			<h1>{{output}}</h1>
		 	
	</div>
</div>
 -->

 	<div class="row" style="margin: 20px 100px 0px 20px">
		First Name: <input type="text" ng-model="obj.firstname"/>
		</div>
		<div class="row" style="margin: 20px 100px 0px 20px">
		Last Name: <input type="text" ng-model="obj.lastname"/>
		</div>
		<div class="row" style="margin: 20px 100px 0px 20px">
		Password: &nbsp <input type="password" id="lname"ng-model="obj.password"/>
		</div>
		<div class="row">
		<!-- <a href="#/module2/{{firstname}}/{{lastname}}/{{password}}"> <button type="button" class="btn btn-primary"> Submit</button></a> -->
		<!-- <a href="#/{{details}}"><button type="button" class="btn btn-primary"> Submit</button></a> -->

		<a href="#/module2"><button type="button" class="btn btn-primary"> Submit</button></a> -->